#mainGridLogin{
    -fx-background-image: url("/img/pozadi.jpg");
    -fx-font-size: 13px;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#mainGridAdmin{
    -fx-background-image: url("/img/pozadi.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#voteGrid{
    -fx-background-image: url("/img/pozadi.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#buttonBarPhoto{
    -fx-background-image: url("/img/bluePhoto.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.poljeIspravno {
    -fx-control-inner-background: greenyellow;
}
.poljeNijeIspravno {
    -fx-control-inner-background: lightpink;
}
#gridNewPassword{
    -fx-background-image: url("/img/bluePhoto.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#winnersPane{
    -fx-background-image: url("/img/bluePhoto.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#newPartyGrid{
    -fx-background-image: url("/img/bluePhoto.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#newCnadidatGrid{
    -fx-background-image: url("/img/bluePhoto.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#newAdminGrid{
    -fx-background-image: url("/img/bluePhoto.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
